.App {
  #text-align: center;
}

.App-header {
  background-color: #222;
  margin-bottom: 20px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

textarea {
  width: 100%;
  height: 300px;
}

p {
  margin: 0;
  padding: 0;
}

.column {
  padding: 0 20px 0 20px;
  flex: 50%;
}

.row {
  display: flex;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
